<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var username = "[[${user.username}]]"; // 큰 따옴표를써야함
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username"; // 내추럴 템플릿도 안됨
    //객체
    var user = [[${user}]]; // 객체는 toString() 한 결과가 나옴
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]];
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username"; // 파일은 오른쪽이 실행되고 서버 사이드 렌더링은 왼쪽이 실행
    //객체
    var user = [[${user}]]; // 객체는 toString() 결과를 받음
</script>


<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]
</script>
</body>
</html>